@import url(./mobileViewStyle.css) screen and (max-width: 600px);
@import url(./tabletViewStyle.css) screen and (min-width: 600px) and (max-width: 1024px);
@import url(./desktopViewStyle.css) screen and (min-width: 1024px);
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@font-face {
    font-family: "Orbitron";
    src: url('../Media/Orbitron-VariableFont_wght.ttf');
  }
*
{  
    font-style: normal;
    font-size: 15px;
  	font-weight: 400;
    color:rgb(215, 215, 215);
}
button, input, select, textarea
{
    font-family: inherit;
    font-size: inherit;
    background-color: rgba(24, 24, 24, 0.879);
}
body
{
    background-image: url('../Media/BodyBackground.jpg');
    background-size: 480px;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
}
main
{   
    font-family: "Orbitron";
}
nav
{
    display: flex;
    background-image: url('../Media/NavBackground.jpg');
    background-size: 480px;
    background-position: center;
    background-repeat: repeat;
    align-items: center;
    width: 100%;
}
nav a
{
    text-decoration: none;
}
nav a:hover
{
    text-decoration: none;
}
header
{
    display: flex;
    flex-direction: column;
    background-image: url('../Media/HeaderBackground.jpg');
    background-size: 480px;
    background-position: center;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.header-text
{
    margin: 10px;
}
.about
{
    background-image: url('../Media/NavBackground.jpg');
    background-size: 480px;
    background-position: center;
    background-repeat: repeat;
    align-items: center;
    margin: 0 auto;
    margin-top: 0;
}
.article-headline
{
    display:flex;
    flex-direction: column;
}
.article-headline-contact
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.games
{
    display: flex;
}
.game
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.337);
}
.game a
{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color:rgba(25, 46, 28, 0.819);
}
.game a:hover
{
    text-decoration: none;
}
.news
{
    display: flex;
}
.news-article
{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.337);
}
.news-article img
{
    align-self: center;
}
.news-article a, .contact-form a
{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color:rgba(25, 46, 28, 0.819);
}
.news-article a:hover
{
    text-decoration: none;
}
.contact
{
    display: flex;
}
.contact-map
{
    display: flex;
    justify-content: center;
}
.contact-form
{
    display: flex;
    flex-direction: column;
}
footer
{
    display: flex;
    background-image: url('../Media/NavBackground.jpg');
    background-size: 480px;
    background-position: center;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    width: 100%;
}